
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
  body{
    background-image: url('/frontend-used-images/website-background.png');
    background-repeat: repeat;
    color:white;
  }
  input::-webkit-file-upload-button{
    @apply
    border-none h-4 w-12
   text-white font-medium rounded-lg text-sm mx-5 my-2.5 text-center mr-2 mb-2  sm:text-xs px-1 
    bg-gradient-to-r from-fuchsia-800 to-gray-700
    hover:shadow-sm hover:shadow-red-400 hover:text-purple-500/80
    focus:outline-none 
    cursor-pointer
    shadow-lg shadow-blue-800/50  
    transition ease-in-out duration-300
  }
@tailwind components;
@tailwind utilities;

  .bg-general-gradient{
    @apply bg-gradient-to-r from-fuchsia-800 to-gray-700
  }
  .general-buttons{
    @apply
    md:w-32 text-white font-medium rounded-lg text-sm text-center mr-2 mb-2 sm:w-24 sm:h-12 sm:text-xs px-4 md:px-2 md:h-10 p-2 
    bg-gradient-to-r from-orange-800 to-gray-700
    hover:shadow-md hover:shadow-blue-800 hover:text-white/80
    focus:outline-none 
    active:shadow-2xl
    shadow-sm shadow-blue-500 
    transition ease-in-out duration-300
    disabled:opacity-25
  }
  .website-theme-settings{
    aspect-ratio: 1920/1080;
    width: 100;
    background-position: center;
    background-size: cover;
  }
  .website-theme-image{
    background-image: url('/frontend-used-images/website-background.png');
    width: auto;
    background-repeat: repeat;
  }
  .navbar-background{
    background-image: url('/frontend-used-images/NavbarBG.svg');
    height: 75px;
    }
  .logo-svg{
    background-image: url('/frontend-used-images/aftin-logo-svg.svg');
  }
  .links-general{
    @apply text-fuchsia-600 hover:text-black transition ease-in-out duration-300 px-4
    hover:translate-y-1
  }
  @keyframes homepage-top-blob-1{
    from{
      opacity: 0.7;
    }to{
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
      opacity: 0.8;
    }
  }
  .searchbox{
    @apply
    md:w-64 text-sm  px-4 py-3 bg-gray-900 border  border-gray-700 rounded-lg focus:outline-none focus:border-purple-400 w-32
  }
  .image-shadows{
    border-radius: 50%;
    margin: 10px;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
  }
  .input {
    @apply w-full rounded bg-fuchsia-800 px-5 py-3.5 placeholder-gray-200 outline-none focus:bg-[#494545] transition-all duration-300
     ;
  }

  .signIn{
    @apply bg-gray-800 rounded-full w-48 h-10
     hover:bg-gray-500 transition-all duration-300
  }
@layer utilities {
  .animation-delay-2000 {
    animation-delay:2s;
  }
  .animation-delay-4000 {
    animation-delay:4s;
  }
}

/* React Transition Group properties */

.transitionSlide-enter{
  opacity: 0;
  transform: scale(0.97) translateX(5px);
  z-index: 1;
}
.transitionSlide-enter.transitionSlide-enter-active{
  opacity: 1;
  transform: scale(1) translateX(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.transitionSlide-exit{
  opacity: 1;
  transform: scale(1) translateX(-1);
}

.transitionSlide-exit.transitionSlide-exit-active{
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity scale 150ms linear, transform 150ms
}
.transitionSlide-exit-done{
  opacity: 0;
}
/* Navbar dropdown effets */
.navbarDropdown-enter{
  max-height: 0px ;
}

.navbarDropdown-enter.navbarDropdown-enter-active{
  max-height: 80vw;
  transition: all  700ms ;
}
.navbarDropdown-exit{
  max-height: 80vh;
}
.navbarDropdown-exit.navbarDropdown-exit-active{
  max-height: 0;
  transition: all 700ms ;
}
