

.homepageThemeImage {
  background-image: url("/homeBG.webp");
  width: auto;
  background-repeat: repeat;
}
.CreateWithUsText{
  @apply text-white text-base md:text-sm break-before-page mx-10 w-48 m-0
}

.CreateWithUsNOTVisible{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.CreateWithUsVisible{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.homePricing{
  @apply mx-6 hover:bg-slate-700 w-[250px] m-1  md:w-[300px]  h-[400px] flex items-center shadow-xl rounded-xl bg-gradient-to-r from-orange-800 to-gray-700 text-white flex-col justify-center text-center hover:text-gray-500 transition-all duration-300 
}

.homeBannerHOne{
  text-shadow: 
  -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
  0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
  0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
  0.015em 0.015em mix(#fff, #e91e63, 64%), 
  0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
  0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
  0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
  0.035em 0.035em 0 mix(#fff, #e91e63, 72%);

}