.CreateWithUsText{
  @apply text-white text-base md:text-sm break-before-page mx-10 w-80 md:w-full
}

.CreateWithUsNOTVisible{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.CreateWithUsVisible{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.homePricing{
  @apply mx-6 w-72 h-48 shadow-xl rounded-xl bg-gradient-to-r from-fuchsia-800 to-gray-700 text-white flex-col justify-center text-center hover:text-gray-500 transition-all duration-300 
}
.homeBannerBG{
  background-image: url('/frontend-used-images/homeBannerBackground.png');
}