.loginDiv-enter {
  opacity: 0;
}

.loginDiv-enter.loginDiv-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.loginDiv-exit {
  opacity: 1;
}

.loginDiv-exit.loginDiv-exit-active {
  opacity: 0;
  transition: all 300ms;
}
.loginFieldBG {
  background-image: url("/login/loginFieldsSVG.svg");
}
.loginBanner {
  background-image: url("/login/loginBanner.png");
}
